*{
    padding: 0;
    margin: 0;
    font-family: fantasy, Arial, Helvetica, sans-serif, sans-serif;
}
/* PARA LA BARRA DE NAVEGACION*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(90, 157, 227);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    list-style-type: center;
    text-align: center;
    color: #080808;
    padding: 14px 16px;
    font-size: 17px;
  
  }
  
  /* PARA EL COLOR QUE CAMBIA EN CADA PARTE DE LA BARRA */
  .topnav a:hover {
    background: #0468aa ;
    color: rgb(3, 2, 2);
  }
  

  .topnav a.active {
    background-color: #0468aa;
    color: rgb(7, 6, 6);
  }
  

  .topnav .icon {
    display: none;
  }
/* fin de la NAVBAR*/

/* INICIO DEL FORM LOGIN*/
/*PARA INICIAR SESION */
.IniciarSesion{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    background-color: rgb(108, 154, 219);
    border-radius: 15px;
    width: 50%;
}

/*form para registrar usuario*/
.RegistrarUsuario{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    background-color: rgb(108, 154, 219);
    border-radius: 15px;
    width: 50%;
}

h1{
    text-align: center;
    padding: 0 0 20px 0;
    
}

button[type ="buttonRegistrar"]{
    position: 200%;
    text-decoration:none;
    font-weight:600;
    font-size:20px;
    color:#010000;
    padding-top:15px;
    padding-bottom:8px;
    padding-left:30px;
    padding-right:30px;
    background-color:#005BBB;

}
button {
    position: 200%;
    text-decoration:none;
    font-weight:600;
    font-size:20px;
    color:#010000;
    padding-top:15px;
    padding-bottom:8px;
    padding-left:30px;
    padding-right:30px;
    background-color:#005BBB;

        
}


/*PARA CARGA DE  los artistas */
.CargarArtist{
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    background-color: rgb(108, 154, 219);
    border-radius: 15px;
    width: 50%;
}




/*PARA cargar los usuarios*/

.CargarUsers{
    position: absolute;
    top: 340%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    background-color: rgb(108, 154, 219);
    border-radius: 15px;
    width: 50%;
}

/*PARA CARGA DE CANCIONES */
.CargarSongs{
    position: absolute;
    top: 400%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    background-color: rgb(108, 154, 219);
    border-radius: 15px;
    width: 50%;
}


/*PARA CARGA DE PODCASTS */
.CargarPod{
    position: absolute;
    top: 450%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    background-color: rgb(108, 154, 219);
    border-radius: 15px;
    width: 50%;
}
/*PARA CARGA DE MUSICA PROGRAMADA */
.MusicaProgramada{
    position: absolute;
    top: 520%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    background-color: rgb(108, 154, 219);
    border-radius: 15px;
    width: 50%;
}

/*PARA InfefazUsuario*/
.InfefazUsuario{
    position: absolute;
    top: 650%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    background-color: rgb(108, 154, 219);
    border-radius: 15px;
    width: 50%;
}


/* para los podcast */
.Podcast{
    position: absolute;
    top: 950%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    background-color: rgb(108, 154, 219);
    border-radius: 15px;
    width: 50%;
}



/*PARA AMIGOS */
.listaAmigos{
    position: absolute;
    top: 820%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    background-color: rgb(108, 154, 219);
    border-radius: 15px;
    width: 60%;
}


button[type ="buttonsAmigos"]{
    float: center;
     right: 35%;
     text-decoration:none;
     font-weight: 100;
     font-size: 20px;
     color:#fafafa;
     padding-top:20px;
     padding-bottom:25px;
     padding-left:40px;
     padding-right:40px;
     background-color:#005BBB;
     border-width: 3px;
     border-style: solid;
     border-color: #ffffff;
     
 }

 